h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

a {
  font-size: 1rem;
}

/* Header section */

.header__link {
  font-size: 1.2rem;
  font-weight: bold;
}

.header__img {
  max-width: 300px;
  object-fit: cover;
}

/* Carousel section */

.carousel__arrow {
  font-size: 1.8rem;
}

/* Main section */

.content__title--products {
  font-size: 1.2rem;
}

.content__title--news {
  font-size: 1.2rem;
}

/* Video Section */

.video {
  grid-template: repeat(4, 1fr) / repeat(6, 1fr);
}

.video__title {
  padding: 0 0 1rem;
  align-self: end;
  justify-self: start;
  grid-column: 1 / 7;
  grid-row: 1 / 2;
}

.video__main {
  align-self: center;
  grid-column: 3 / 6;
  grid-row: 2 / 5;
  z-index: 2;
}

.video__content {
  font-size: 0.9rem;
  padding-right: 70%;
  grid-column: 1 / 7;
  grid-row: 3 / 4;
}

/* Section Certification */

.certification__title {
  text-align: left;
}

/* Contact section */

.contact {
  flex-direction: row;
  flex-wrap: wrap;
}

.contact img {
  max-width: 1100px;
  width: 100%;
  object-fit: cover;
}
