.home-review {
  grid-template: 1fr / repeat(3, 1fr);
  grid-template-areas:
    'header main main'
    'header main main'
    'header footer footer';
}

.header-review {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0px;
}
