:root {
  /* Colors */
  --black: #393a3a;
  --main-green: #009045;
  --main-orange: #fa7e03;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template: 100px 1fr 150px / 1fr;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

h2 {
  font-size: 1.2rem;
}

p {
  font-size: 0.8rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 0.8rem;
}

.grid-container {
  max-width: 1100px;
  margin: 0 auto;
}

/* Section Header */

.header {
  max-width: 1100px;
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #e2e8f0;
}

.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.header__img {
  max-width: 220px;
  object-fit: cover;
}

.header__list {
  position: fixed;
  left: -100%;
  top: 5rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100vw;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.header__list.active {
  left: 0;
}

.header__item {
  margin: 2rem 0;
}

.header__link {
  color: var(--black);
}

.header__link:hover {
  color: var(--main-green);
}

.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--black);
}

.main {
  grid-area: main;
}

/* Section Carousel */

.container {
  max-width: 1100px;
  width: 100vw;
}

.carousel {
  height: auto;
  position: relative;
  overflow: hidden;
}

.slider {
  height: 100%;
  display: flex;
  width: 300%;
  transition: all 0.3s;
}

.slider__text {
  color: white;
  background-color: var(--main-green);
}

.slider picture {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider > picture > img {
  width: 100%;
  object-fit: cover;
  object-position: right;
}

.control .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 25px;
  color: white;
}

.arrow.left {
  left: 1rem;
}

.arrow.right {
  right: 1rem;
}

.control ul {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}

.control ul li {
  width: 10px;
  height: 10px;
  border: 2px solid var(--black);
  border-radius: 50px;
  margin: 10px;
  background: var(--black);
  cursor: pointer;
}

.control ul li.selected {
  background: transparent;
}

/* Section Main content */

.main-content {
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 3rem 0;
  display: grid;
  grid-template: 1fr / 1fr;
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.main-content__products {
  display: inline-block;
  width: 155px;
  height: 100px;
  background-image: url('./assets/img/product.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-content__news {
  display: inline-block;
  width: 162px;
  height: 100px;
  background-image: url('./assets/img/news.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-content__title-products,
.main-content__title-news {
  font-weight: 400;
}

.main-content__eclipse--left {
  display: none;
}

/* Section video */

.video {
  max-width: 1100px;
  width: 100vw;
  padding-bottom: 3rem;
  display: grid;
  grid-template: 1fr/ 1fr;
  justify-items: center;
}

.video__title {
  color: var(--main-green);
  text-align: center;
  padding: 3rem 1.5rem;
}

.video__main {
  width: 100%;
  object-fit: cover;
}

.video__content {
  background-color: var(--main-green);
  color: white;
  padding: 2rem 1.5rem;
}

/* Section certification */

.certification {
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.certification__title {
  color: var(--main-green);
  text-align: center;
}

.certification__bpa-wrapper,
.certification__bpm-wrapper,
.certification__bpf-wrapper,
.certification__pbv-wrapper {
  display: flex;
  align-items: center;
}

.certification p {
  margin-left: 1rem;
}

.certification__bpa {
  width: 0px;
  border-bottom: 6px solid var(--main-green);
  -webkit-animation: increasebpa 3s;
  -moz-animation: increasebpa 3s;
  -o-animation: increasebpa 3s;
  animation: increasebpa 3s;
  animation-fill-mode: forwards;
}

@keyframes increasebpa {
  100% {
    width: 10%;
  }
}

.bpa__img {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(./assets/img/bpa.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.certification__bpm {
  width: 0px;
  border-bottom: 6px solid var(--main-green);

  -webkit-animation: increasesbpm 3s;
  -moz-animation: increasesbpm 3s;
  -o-animation: increasesbpm 3s;
  animation: increasesbpm 3s;
  animation-fill-mode: forwards;
}

@keyframes increasesbpm {
  100% {
    width: 15%;
  }
}

.bpm__img {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(./assets/img/bpm.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.certification__bpf {
  width: 0px;
  border-bottom: 6px solid var(--main-green);

  -webkit-animation: increasesbpf 3s;
  -moz-animation: increasesbpf 3s;
  -o-animation: increasesbpf 3s;
  animation: increasesbpf 3s;
  animation-fill-mode: forwards;
}

@keyframes increasesbpf {
  100% {
    width: 20%;
  }
}

.bpf__img {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(./assets/img/bpf.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.certification__pbv {
  width: 0px;
  border-bottom: 6px solid var(--main-green);

  -webkit-animation: increasespbv 3s;
  -moz-animation: increasespbv 3s;
  -o-animation: increasespbv 3s;
  animation: increasespbv 3s;
  animation-fill-mode: forwards;
}

@keyframes increasespbv {
  100% {
    width: 25%;
  }
}

.pbv__img {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(./assets/img/pbv.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Section Product card */

#products {
  background-color: var(--main-orange);
  padding: 2rem 0;
}

.product__title {
  padding-bottom: 2rem;
  color: var(--main-green);
  text-align: center;
}

.product {
  width: 80%;
  margin: 0 auto;
  height: auto;
  position: relative;
  overflow: hidden;
}

.product-slider {
  height: 100%;
  display: flex;
  width: 300%;
  transition: all 0.3s;
}

.product-slider picture {
  flex-basis: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-slider > picture > img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.product-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 25px;
  color: white;
}

.product-arrow.product-left {
  left: 0.5rem;
}

.product-arrow.product-right {
  right: 0.5rem;
}

.product-control ul {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}

.product-control ul li {
  width: 10px;
  height: 10px;
  border: 2px solid var(--black);
  border-radius: 50px;
  margin: 10px;
  background: var(--black);
  cursor: pointer;
}

.product-control ul li.product-selected {
  background: transparent;
}

/* Section Contact */

.contact {
  padding: 3rem 0;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.contact__facebook {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(./assets/img/facebook.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact__instagram {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(./assets/img/instagram.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact__redes {
  display: flex;
  gap: 1rem;
}

/* Section Footer */

.footer {
  grid-area: footer;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--main-green);
}

.footer__left ul {
  display: flex;
  gap: 1rem;
}

.footer__left li a {
  color: white;
  font-size: 1.5rem;
}

.footer__center ul {
  display: flex;
  gap: 1rem;
}

.footer__center li a {
  color: white;
}

.footer__right {
  align-self: center;
}
