:root {
  /* Colors */
  --white: #fff;
  --black: #0c0d0e;
  --green: #009045;
  --orange: #fa7e03;
  --yellow: #fdb52d;
  --blue: #184e77;
  --green-trn: rgba(181, 228, 140, 0.6);
  --green-025: #d9ed92;
  --green-050: #b5e48c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template: 100px 1fr 150px / 1fr;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

h2 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 0.8rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 0.8rem;
}

.grid-container {
  max-width: 1100px;
  margin: 0 auto;
}

/* Section Header */

.header {
  max-width: 1100px;
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #e2e8f0;
}

.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.header__img {
  max-width: 220px;
  object-fit: cover;
}

.header__list {
  position: fixed;
  left: -100%;
  top: 5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  width: 100vw;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.header__list.active {
  left: 0;
}

.header__item {
  margin: 2rem 0;
}

.header__link {
  color: var(--black);
}

.header__link:hover {
  color: var(--green);
}

.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--black);
}

.main {
  grid-area: main;
}

/* Section Carousel */

.carousel {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(50px, auto);
}

.carousel__img {
  grid-column: 1 / 7;
  grid-row: 1 / 3;
}

.carousel__img .carousel__img--active {
  display: block;
}

.carousel__img img {
  width: 100%;
  height: auto;
  display: none;
}

.carousel__content {
  grid-column: 1 / 7;
  grid-row: 3 / 4;
}

.carousel__content .carousel__content--active {
  display: block;
}

.carousel__content h3 {
  padding: 1rem 1rem 1.5rem;
  text-align: center;
  color: var(--blue);
  background-color: var(--green-050);
  width: 100%;
  display: none;
}

.carousel__arrow {
  color: var(--blue);
  font-size: 1.2rem;
  cursor: pointer;
}

.carousel__arrow--right {
  padding-right: 1rem;
  grid-column: 6 / 7;
  grid-row: 1 / 4;
  justify-self: end;
  align-self: center;
}

.carousel__arrow--left {
  padding-left: 1rem;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  justify-self: start;
  align-self: center;
}

.carousel__control {
  padding-bottom: 0.5rem;
  grid-column: 1 / 7;
  grid-row: 3 / 4;
  align-self: end;
  justify-self: center;
  display: flex;
  gap: 0.5rem;
}

.carousel__control li {
  width: 10px;
  height: 10px;
  border: 2px solid var(--blue);
  border-radius: 50px;
  background: var(--blue);
  cursor: pointer;
  list-style: none;
}

.carousel__control .carousel__control--active {
  background: transparent;
}

/* Section Main content */

.content {
  width: 90%;
  max-width: 1100px;
  height: auto;
  margin: 0 auto;
  padding: 3rem 0;
  display: grid;
  grid-template: 1fr / 1fr;
  gap: 1.5rem;
  justify-items: center;
  align-items: center;
}

.content__title {
  display: inline-block;
  position: relative;
  font-weight: 400;
  font-size: 1rem;
  color: var(--black);
  text-align: center;
}

.content__title:after {
  bottom: -5px;
  content: '';
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: var(--yellow);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.content__title:hover:after {
  width: 100%;
  left: 0;
}

.content__img--products {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.content__img--news {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.content__elipse {
  display: none;
}

/* Section video */

.video {
  max-width: 1100px;
  width: 100%;
  height: auto;
  padding-bottom: 3rem;
  display: grid;
  grid-template: 1fr/ 1fr;
  justify-items: center;
}

.video__title {
  color: var(--green);
  text-align: center;
  padding: 1.5rem;
}

.video__main {
  width: 100%;
  object-fit: cover;
}

.video__content {
  background-color: var(--green);
  color: white;
  padding: 1.5rem;
  text-align: center;
}

/* Section certification */

.certification {
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.certification__title {
  color: var(--green);
  text-align: center;
}

.certification__bpa-wrapper,
.certification__bpm-wrapper,
.certification__bpf-wrapper,
.certification__pbv-wrapper {
  display: flex;
  align-items: center;
}

.certification p {
  margin-left: 1rem;
}

.certification__bpa {
  width: 0px;
  border-bottom: 6px solid var(--green);
  -webkit-animation: increasebpa 3s;
  -moz-animation: increasebpa 3s;
  -o-animation: increasebpa 3s;
  animation: increasebpa 3s;
  animation-fill-mode: forwards;
}

@keyframes increasebpa {
  100% {
    width: 10%;
  }
}

.bpa__img {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(./assets/img/bpa.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.certification__bpm {
  width: 0px;
  border-bottom: 6px solid var(--green);

  -webkit-animation: increasesbpm 3s;
  -moz-animation: increasesbpm 3s;
  -o-animation: increasesbpm 3s;
  animation: increasesbpm 3s;
  animation-fill-mode: forwards;
}

@keyframes increasesbpm {
  100% {
    width: 15%;
  }
}

.bpm__img {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(./assets/img/bpm.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.certification__bpf {
  width: 0px;
  border-bottom: 6px solid var(--green);

  -webkit-animation: increasesbpf 3s;
  -moz-animation: increasesbpf 3s;
  -o-animation: increasesbpf 3s;
  animation: increasesbpf 3s;
  animation-fill-mode: forwards;
}

@keyframes increasesbpf {
  100% {
    width: 20%;
  }
}

.bpf__img {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(./assets/img/bpf.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.certification__pbv {
  width: 0px;
  border-bottom: 6px solid var(--green);

  -webkit-animation: increasespbv 3s;
  -moz-animation: increasespbv 3s;
  -o-animation: increasespbv 3s;
  animation: increasespbv 3s;
  animation-fill-mode: forwards;
}

@keyframes increasespbv {
  100% {
    width: 25%;
  }
}

.pbv__img {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(./assets/img/pbv.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Section Product card */

.products {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem 0;
  background: var(--orange);
  display: grid;
  grid-template: auto 1fr / repeat(6, 1fr);
  grid-auto-rows: minmax(50px, auto);
}

.products__title {
  text-align: center;
  color: var(--blue);
  padding: 1.5rem 0;
  grid-column: 1 / 7;
  grid-row: 1 / 2;
}

.products__img {
  grid-column: 2 / 6;
  grid-row: 2 / 3;
}

.products__img .products__img--active {
  display: block;
}

.products__img img {
  width: 100%;
  height: auto;
  display: none;
}

.products__arrow {
  color: var(--blue);
  font-size: 1.2rem;
  cursor: pointer;
}

.products__arrow--left {
  padding-left: 0.5rem;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: center;
}

.products__arrow--right {
  padding-right: 0.5rem;
  grid-column: 5 / 6;
  grid-row: 2 / 3;
  align-self: center;
  justify-self: end;
}

/* Section Contact */

.contact {
  padding: 3rem 0;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.contact img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.contact__facebook {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(./assets/img/facebook.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact__instagram {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(./assets/img/instagram.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact__redes {
  display: flex;
  gap: 1rem;
}

/* Products Hero */

.products-hero {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template: 1fr auto / 1fr;
  justify-content: center;
  align-content: center;
}

.products-hero__picture {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.products-hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.products-hero h2 {
  background-color: var(--green-trn);
  color: var(--blue);
  text-align: center;
  padding: 1.5rem;
}

/* News Page */

.news-hero {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template: 1fr auto / 1fr;
  justify-content: center;
  align-content: center;
}

.news__picture {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.news-hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.news-hero h2 {
  background-color: var(--green-trn);
  color: var(--blue);
  text-align: center;
  padding: 1.5rem;
}

.blog {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: grid;
  grid-template: 2fr / 1fr;
  gap: 1.5rem;
}

.blog-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.blog__title {
  font-size: 0.8rem;
  padding: 1rem;
  color: var(--orange);
}

.blog__title--clases {
  background-color: var(--blue);
}

.blog__title--alcohol {
  color: var(--white);
  background-color: var(--green);
}

.blog-card ol {
  padding-left: 1rem;
}

.blog-card ol li {
  font-size: 0.8rem;
  list-style-type: decimal;
  padding: 0.5rem 0;
}

.blog-card p {
  font-size: 0.8rem;
  padding: 0.5rem 0;
}

.blog__line {
  display: none;
}

.blog__close .blog__content--content {
  height: 0px;
  transition: height 1s ease-out;
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
}

.blog__open .blog__content--content {
  width: 100%;
  padding: 1rem;
  display: block;
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;

  -webkit-transition: -webkit-transform 0.4s ease-out;
  -o-transition: -o-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  transition: transform 0.4s ease;
}

.blog__content--clases {
  background-color: var(--blue);
  color: var(--orange);
  cursor: pointer;
  padding: 1rem;
}

.blog__content--alcohol {
  background-color: var(--green);
  color: var(--white);
  cursor: pointer;
  padding: 1rem;
}

.blog__open .blog__content--clases,
.blog__open .blog__content--alcohol {
  background-color: #bdc3c7;
  color: #7f8c8d;
}

/* Contact Page Section Hero*/

.contact-hero {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template: 1fr auto / 1fr;
  justify-content: center;
  align-content: center;
}

.contact__picture {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.contact-hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.contact-hero h2 {
  background-color: var(--green-trn);
  color: var(--blue);
  text-align: center;
  padding: 1.5rem;
}

/* Contact Page Section Info */

.contact-info__icons {
  color: var(--green);
  font-size: 1rem;
}

.contact-info__btn--map {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  color: var(--white);
  background-color: var(--green);
  border-radius: 50px;
  font-size: 0.7rem;
  font-weight: bold;
}

.contact-info__btn--tel {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  color: var(--white);
  background-color: var(--green);
  border-radius: 50px;
  font-size: 0.7rem;
  font-weight: bold;
}

.contact-info {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 1.5rem;
}

.contact-info__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.contact-info img {
  width: 130px;
  height: auto;
  margin: 0 auto;
}

.contact-info h3 {
  font-size: 0.8rem;
  padding-bottom: 0.2rem;
}

.contact-info p {
  padding: 0.2rem 0;
}

.contact-info div {
  flex-grow: 2;
}

/* Section Footer */

.footer {
  grid-area: footer;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--green);
}

.footer__left ul {
  display: flex;
  gap: 1rem;
}

.footer__left li a {
  color: white;
  font-size: 1.5rem;
}

.footer__center ul {
  display: flex;
  gap: 1rem;
}

.footer__center li a {
  color: white;
}

.footer__right {
  align-self: center;
}
