:root {
  --primary-color: hsl(257, 40%, 49%);
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template: 1fr 100px / 1fr;
  grid-template-areas:
    'main'
    'footer';
  background-color: var(--primary-color);
}

.header-container {
  width: 85%;
  margin: 0 auto;
}

.header__logo {
  margin: 2rem 0;
  width: 130px;
  height: 30px;
  object-fit: fill;
}

.main {
  grid-area: main;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-image: url('./images/bg-mobile.svg');
  background-repeat: no-repeat;
}

.main-description {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main-description__img {
  margin: 25px auto 55px;
  width: 302px;
  height: 213px;
  object-fit: fill;
}

.main-description__title {
  width: 90%;
  margin: 0 auto 20px;
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 700;
}

.main-description__content {
  width: 90%;
  margin: 0 auto 27px;
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.main-description__link {
  width: 200px;
  height: 40px;
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  font-size: 0.75rem;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: 0px 4px 8px rgba(47, 27, 107, 0.8);
}

.footer {
  width: 90%;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style-type: none;
}

.footer__item {
  font-size: 1.5rem;
  color: var(--white);
}
